<section class="enconstruccion">
    <div class="logo">
        <img src="https://res.cloudinary.com/dj50wjowc/image/upload/v1762978307/ChatGPT_Image_12_nov_2025_16_22_07_s0w1ei.png" alt="logo">

    </div>
    <div>
        <h1>Tú mueves</h1>
        <p>Hábitos, Consciencia y Responsabilidad personal en tu salud.</p>


    </div>
    <div>
        <h3>En construcción</h3>
    </div>

    <footer>
        <div>
            <img src="https://res.cloudinary.com/dj50wjowc/image/upload/v1752243514/ChatGPT_Image_11_jul_2025_16_18_26_ui4yzn.png" alt="logo nelosfera">
        </div>

   
    </footer>
    

</section>
<style>
    .enconstruccion{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:90vh;
        text-align: center;
        font-family: Arial, sans-serif;
        color: var(--text);
    }

    .logo img{
        width:auto;
        height:300px;
        margin-bottom:1rem;
    }
    .enconstruccion div{
        margin: 1rem;
    }

    footer{
        margin-bottom: 2rem;
    }

    footer img{
        width: 100px;
        height: auto;
    }

</style>