<header>
    <div class="left-hero">
        <div>
            <img src="https://res.cloudinary.com/dj50wjowc/image/upload/v1763031270/tu_mueves_logo_edges_jjmzmi.svg " alt="logo tú mueves" width="50" height="50" />
        </div>

    </div>
    <div class="right-hero">
        <p>sobre mi </p>

    </div>


</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 80px;
        background-color: var(--bg);
    }

    .left-hero {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .right-hero p {
        margin: 0;
        font-size: 1rem;
        color: var(--text);
        cursor: pointer;
    }
</style>